# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
!pip install -U scipy

Requirement already satisfied: scipy in c:\users\e.sansebastian\appdata\local\anaconda3\lib\site-packages (1.11.4)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in c:\users\e.sansebastian\appdata\local\anaconda3\lib\site-packages (from scipy) (1.24.3)

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:

salaries=pd.read_csv("C:/Users/e.sansebastian/OneDrive - EXPONDO/Ironhack/Weeks/Week_4/Day_3/Afternoon/lab-Hypothesis-Testing/data/Salaries.csv")
salaries.head()

C:\Users\e.sansebastian\AppData\Local\Temp\ipykernel_7468\1936044749.py:3: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries=pd.read_csv("C:/Users/e.sansebastian/OneDrive - EXPONDO/Ironhack/Weeks/Week_4/Day_3/Afternoon/lab-Hypothesis-Testing/data/Salaries.csv")

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Examine the `salaries` dataset using the `head` function below.

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [4]:
# Your code here:

salaries.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [5]:
# Your code here
salaries.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [6]:
# Your code here
salaries.drop(columns="Notes",inplace=True)

In [7]:
salaries.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [8]:
# Your code here
salaries["Status"].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [9]:
salaries=salaries[salaries["Status"].isna()==False]

In [10]:
salaries.isnull().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [11]:
# Your code here

In [12]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

Do any type conversions and reset the index.

In [13]:
# Your code here:

# I consider 'BasePay', 'OvertimePay', 'OtherPay',"Benefits" should be numeric

In [14]:
cols = ['BasePay', 'OvertimePay', 'OtherPay',"Benefits"]
salaries[cols] = salaries[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [15]:
salaries.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Agency', 'Status'],
      dtype='object')

In [29]:
salaries=salaries.reset_index(drop=True)

In [30]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [18]:
# Your code here

is_equal = salaries["BasePay"] + salaries["OvertimePay"] + salaries["OtherPay"] + salaries["Benefits"] == salaries["TotalPayBenefits"]

In [19]:
is_equal.head()

110531     True
110532    False
110533     True
110534    False
110535     True
dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [22]:
# Your code here:

is_equal.value_counts()/len(is_equal)*100

True     73.708649
False    26.291351
Name: count, dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [24]:
# Your code here:

employee_count=salaries.groupby("JobTitle")["Id"].count().reset_index()
employee_count.columns=["JobTitle","Employees"]

In [25]:
employee_count

                           JobTitle  Employees
0       ACPO,JuvP, Juv Prob (SFERS)          1
1      ASR Senior Office Specialist         22
2              ASR-Office Assistant         15
3                     Account Clerk         93
4                      Accountant I          2
..                              ...        ...
991      Wire Rope Cable Maint Sprv          1
992      Worker's Comp Supervisor 1          6
993  Worker's Compensation Adjuster         26
994           X-Ray Laboratory Aide         35
995              Youth Comm Advisor          1

[996 rows x 2 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [31]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [27]:
# Your code here: (compute the "Hourly_Wage")

salaries["Hourly_Wage"]= salaries["TotalPayBenefits"]/50/40

In [32]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [ ]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [44]:
salaries[salaries['Status'] == 'FT']['Hourly_Wage'].mean()

69.26420640727143

In [47]:
# I create a df with only those employees on FT status

ft_employees_df = salaries[salaries['Status'] == 'FT'][['Hourly_Wage']]

# Display the result
ft_employees_df.head()

   Hourly_Wage
1   239.826105
3   209.009610
4   208.717550
5   207.883970
6   200.535435

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [343]:
# Manual calculation:
t = (np.mean(ft_employees_df) - 75)/(np.std(ft_employees_df, ddof=1)/np.sqrt(len(ft_employees_df)))
print("The value of the statistic is:",t)

The value of the statistic is: Hourly_Wage   -35.806319
dtype: float64

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [339]:
import scipy.stats
lower_critical_value, upper_critical_value = scipy.stats.t.ppf((0.05/2), df=len(ft_employees_df)-1), scipy.stats.t.ppf(1-(0.05/2), df=len(ft_employees_df)-1)
print("The lower critical value is {:.3f}".format(lower_critical_value))
print("The upper critical value is {:.3f}".format(upper_critical_value))

The lower critical value is -1.960
The upper critical value is 1.960

In [ ]:
# -35.806 < -1.960 I would therefore reject the H0.

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [341]:
scipy.stats.t.cdf(t, df=len(ft_employees_df)-1)[0]

2.2589156169228082e-273

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [45]:
from scipy.stats import ttest_1samp

In [48]:
# someone thinks (hypothesises) that the hourly wage of all FT workers is significantly different from $75/hr.
# we select a value for alpha of 0.05 (p-value threshold)
# Two-sided test:
# Null hypothesis or H0: hourly wage of all FT workers != $75/hr
# Alternative hyp or H1: hourly wage of all FT workers = $75/hr
stat, pval = ttest_1samp(ft_employees_df, popmean = 75, alternative = "two-sided")

In [62]:
print("The statistic value is:",stat[0], ".")

The statistic value is: -35.80631941460526 .

Are all the methods in agreement?

In [342]:
# Yes, even if there seems to be a very small difference in the last 2 decimals
display(t)
display(stat[0])

Hourly_Wage   -35.806319
dtype: float64

19.064990324906383

We are also curious about salaries in the police force. The chief of police in San Francisco claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [ ]:
# We will consider following hypothesis:

# H0= salaries >=$86000
# H1 = salaries< $86000

In [69]:
police_jobs_df = salaries[salaries['JobTitle'].apply(lambda title: 'Police' in title)]

In [70]:
police_jobs_df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
86,110618,Jay K Dowke,Police Officer 3,100148.75,15716.42,152037.57,33847.07,267902.74,301749.81,2014,San Francisco,PT,150.874905
143,110675,Sam W Yuen,Police Officer 2,116584.02,115346.62,18834.23,38350.08,250764.87,289114.95,2014,San Francisco,FT,144.557475
181,110713,Malcolm S Fong,Police Officer 3,118898.14,109310.13,12557.94,39456.55,240766.21,280222.76,2014,San Francisco,FT,140.111380
300,110832,Murray P Daggs,Police Officer 3,118898.13,98583.98,10919.81,38833.08,228401.92,267235.00,2014,San Francisco,FT,133.617500

In [344]:
police_jobs_salary = police_jobs_df["TotalPayBenefits"]

In [345]:
# Computing manually our statistic.
t = (np.mean(police_jobs_salary) - 86000)/(np.std(police_jobs_salary, ddof=1)/np.sqrt(len(police_jobs_salary)))
print("Statistic value for the police jobs salary is", t)

Statistic value for the police jobs salary is 50.252984742109966

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [346]:
critical_value = scipy.stats.t.ppf(0.05, df=len(police_jobs_salary)-1)
print("The critical value is {:.3f}".format(critical_value))

The critical value is -1.646

In [ ]:
## The statistic is higher than the critical value -1.646 < 50.2529, I would therefore accept the hypothesis that the salary is higher than 86000

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [347]:
scipy.stats.t.cdf(t, df=len(police_jobs_salary)-1)

1.0

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [96]:
# ttest_1samp(sample, population_mean)


stat, pval = ttest_1samp(police_jobs_salary, popmean = 86000, alternative = "less")

In [97]:
print("The statistic for the Police employees salary is", stat, "and the p-value is",pval ,".")

The statistic for the Police employees salary is 50.252984742109945 and the p-value is 1.0 .

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here: (Get the department which has most employees)

In [111]:
salaries["JobTitle"].value_counts().sort_values(ascending=False).head(1).index[0]

'Transit Operator'

In [118]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [119]:
trans_operator= salaries[salaries["JobTitle"]=='Transit Operator'][["Hourly_Wage"]]

In [120]:
trans_operator.head()

      Hourly_Wage
3223    97.123380
3537    95.073540
3766    93.648710
4380    90.802020
4891    88.494395

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [ ]:
# We will consider following hypothesis:

# H0= Hourly_Wage <=$35
# H1 = Hourly_Wage > $35

In [123]:
t = (np.mean(trans_operator) - 35)/(np.std(trans_operator, ddof=1)/np.sqrt(len(trans_operator)))
print("Statistic value for the hourly wage for transit operator", t)

Statistic value for the hourly wage for transit operator Hourly_Wage    19.06499
dtype: float64

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [129]:
# Compute your p_value
critical_value = scipy.stats.t.ppf(1-0.05, df=len(trans_operator)-1)
print("The critical value is {:.3f}".format(critical_value))

The critical value is 1.645

In [348]:
(stat<critical_value)

array([False])

In [ ]:
# The statistical test is much greater than the critical value. We can therefore reject the H0, meaning that the avg. wage of transit operators is higher than $35

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [134]:
scipy.stats.t.cdf(t,df=len(trans_operator)-1)[0]

1.0

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [127]:
# ttest_1samp(sample, population_mean)
stat, pval = ttest_1samp(trans_operator, popmean = 35, alternative = "greater") # "two-sided", "less", "greater"

In [128]:
stat[0]

19.064990324906383

In [136]:
pval[0]

5.012771694204206e-76

In [349]:
# Results with the ttest_1samp confirm the rejection of the  H0 hypothesis

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [350]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen

In [351]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [352]:
hourly_wage=salaries[["Hourly_Wage"]]
hourly_wage.head()

   Hourly_Wage
0   255.366340
1   239.826105
2   218.112180
3   209.009610
4   208.717550

In [353]:
hourly_wage.mean()

Hourly_Wage    50.130719
dtype: float64

In [354]:
# we can find a confidence interval for the population based on our sample
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(hourly_wage) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(hourly_wage)
# note that we use the standard error of the sample
# is an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly_wage) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level,
                                             degrees_freedom,
                                             sample_mean,
                                             sample_standard_error)

In [362]:
print( 'Sample mean:', sample_mean,"\n""Confidence interval",confidence_interval[0][0],"and",confidence_interval[1][0],"." )

Sample mean: 50.130719334190296
Confidence interval 49.798255413084874 and 50.46318325529572 .

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [363]:
police_jobs_df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
86,110618,Jay K Dowke,Police Officer 3,100148.75,15716.42,152037.57,33847.07,267902.74,301749.81,2014,San Francisco,PT,150.874905
143,110675,Sam W Yuen,Police Officer 2,116584.02,115346.62,18834.23,38350.08,250764.87,289114.95,2014,San Francisco,FT,144.557475
181,110713,Malcolm S Fong,Police Officer 3,118898.14,109310.13,12557.94,39456.55,240766.21,280222.76,2014,San Francisco,FT,140.111380
300,110832,Murray P Daggs,Police Officer 3,118898.13,98583.98,10919.81,38833.08,228401.92,267235.00,2014,San Francisco,FT,133.617500

In [364]:
police_wage=police_jobs_df[["Hourly_Wage"]]
police_wage.head()

     Hourly_Wage
3     209.009610
86    150.874905
143   144.557475
181   140.111380
300   133.617500

In [366]:
# Your code here:

confidence_level = 0.95
degrees_freedom = len(police_wage) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(police_wage)
# note that we use the standard error of the sample
# is an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(police_wage) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level,
                                             degrees_freedom,
                                             sample_mean,
                                             sample_standard_error)


print( 'Sample mean:', sample_mean,"\n""Confidence interval",confidence_interval[0][0],"and",confidence_interval[1][0],"." )

Sample mean: 74.17452106259863
Confidence interval 72.95787917364453 and 75.39116295155273 .

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [367]:
# Your code here: (Create the function)

def determine_employee_group(column):
    '''
    This function takes a column and groups jobs based on the criteria below:
    
    * "Policemen" if "Police" is found on "JobTitle"
    * "Firemen" if "Fire" is found on "JobTitle"
    * "Medical" if "Med" or "Nurse" is found on "JobTitle"
    * "Lawyer" if "Attorney" is found on "JobTitle"
    * "Other" in any other cases
    
    Input: 
    
    column of a dataframe
    
    Output:
    
    The corresponding grouping names based on strings
    
    '''
    if 'Police' in column:
        return 'Policemen'
    elif 'Fire' in column:
        return 'Firemen'
    elif 'Med' in column or 'Nurse' in column:
        return 'Medical'
    elif 'Attorney' in column:
        return 'Lawyer'
    else:
        return 'Other'

In [368]:
# Your code here: (Apply the function)

In [369]:
salaries['employee_group'] = salaries['JobTitle'].apply(determine_employee_group)

In [172]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen

Determine how many "PT" and "FT" employess have all the employees groups.

In [ ]:
# Your code here: (Store the output dataframe into a new variable)

In [173]:
# I use the crosstab function to compare employee group and status:

employee_status = pd.crosstab(salaries['employee_group'], salaries['Status'], margins = False)
employee_status

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [301]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

frequencies = pd.DataFrame()

In [284]:
# In order to calculate the frequencies for every combination, I create the common 3 variables below (total sum, ft_sum and pt_sum)

total_sum = employee_status.values.sum()
print("Sum of all elements:", total_sum)
ft_sum= employee_status.loc[:,"FT"].values.sum()
print("Sum of all FT:", ft_sum)
pt_sum= employee_status.loc[:,"PT"].values.sum()
print("Sum of all PT:", pt_sum)

Sum of all elements: 38119
Sum of all FT: 22334
Sum of all PT: 15785

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [285]:
# I create the sum of the firemen row first:

firemen_sum = employee_status.loc["Firemen"]["FT"] + employee_status.loc["Firemen"]["PT"]

# Then I calculate the frequencies for the combination of firemen and FT
firemen_ft= firemen_sum * ft_sum / total_sum
print("The frequency for firemen & FT is:", firemen_ft)

The frequency for firemen & FT is: 885.2979878800598

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [286]:
# Then I calculate the frequencies for the combination of firemen and PT

firemen_pt= firemen_sum * pt_sum / total_sum
print("The frequency for firemen & PT is:", firemen_pt)

The frequency for firemen & PT is: 625.7020121199402

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [287]:
# I create the sum of the lawyer row first:

lawyer_sum = employee_status.loc["Lawyer"]["FT"]+employee_status.loc["Lawyer"]["PT"]

# Then I calculate the frequencies for the combination of lawyer and FT

lawyer_ft= lawyer_sum*ft_sum / total_sum
print("The frequency for lawyer & FT is:", lawyer_ft)

The frequency for lawyer & FT is: 245.4929562685275

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [288]:
# Then I calculate the frequencies for the combination of lawyer and PT

lawyer_pt= lawyer_sum*pt_sum / total_sum
print("The frequency for lawyer & PT is:", lawyer_pt)

The frequency for lawyer & PT is: 173.5070437314725

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [289]:
# I create the sum of the medical row first:

medical_sum = employee_status.loc["Medical"]["FT"]+employee_status.loc["Medical"]["PT"]

# Then I calculate the frequencies for the combination of medical and FT

medical_ft= medical_sum*ft_sum / total_sum
print("The frequency for medical & FT is:",medical_ft)

The frequency for medical & FT is: 2294.978304782392

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [290]:
# Then I calculate the frequencies for the combination of medical and PT

medical_pt= medical_sum*pt_sum / total_sum
print("The frequency for medical & PT is:",medical_pt)

The frequency for medical & PT is: 1622.021695217608

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [291]:
# I create the sum of the other row first:

other_sum = employee_status.loc["Other"]["FT"]+employee_status.loc["Other"]["PT"]

# Then I calculate the frequencies for the combination of other and FT

other_ft= other_sum*ft_sum / total_sum
print("The frequency for other & FT is:",other_ft)

The frequency for other & FT is: 17794.430966184842

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [292]:
# Then I calculate the frequencies for the combination of other and FT

other_pt= other_sum*pt_sum / total_sum
print("The frequency for other & PT is:",other_pt)

The frequency for other & PT is: 12576.569033815158

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [293]:
# I create the sum of the policemen row first:

policemen_sum = employee_status.loc["Policemen"]["FT"]+employee_status.loc["Policemen"]["PT"]

# Then I calculate the frequencies for the combination of policemen and FT

policemen_ft= policemen_sum*ft_sum / total_sum
print("The frequency for policemen & FT is:",policemen_ft)

The frequency for policemen & FT is: 1113.7997848841785

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [294]:
# Then I calculate the frequencies for the combination of policemen and PT
policemen_pt= policemen_sum*pt_sum / total_sum
print("The frequency for policemen & PT is:",policemen_pt)

The frequency for policemen & PT is: 787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [ ]:
# Your code here:

In [295]:
FT = [firemen_ft] + [lawyer_ft] + [medical_ft] + [other_ft] + [policemen_ft]

In [296]:
FT

[885.2979878800598,
 245.4929562685275,
 2294.978304782392,
 17794.430966184842,
 1113.7997848841785]

In [297]:
PT = [firemen_pt] + [lawyer_pt] + [medical_pt] + [other_pt] + [policemen_pt]

In [298]:
PT

[625.7020121199402,
 173.5070437314725,
 1622.021695217608,
 12576.569033815158,
 787.2002151158215]

In [299]:
freq_dict = {"FT":FT,"PT":PT}

In [282]:
freq_dict

{'FT': [885.2979878800598,
  245.4929562685275,
  2294.978304782392,
  17794.430966184842,
  1113.7997848841785],
 'PT': [625.7020121199402,
  173.5070437314725,
  1622.021695217608,
  12576.569033815158,
  787.2002151158215]}

In [302]:
frequencies=pd.DataFrame.from_dict(freq_dict)
frequencies

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [323]:
actual_frequencies = pd.crosstab(salaries['employee_group'], salaries['Status'], margins = False)
actual_frequencies

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

In [324]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:

# The Chi2 value
# The p-valueYea we 
# The expected frequencies.

import scipy.stats as st
chi2_statistic, p_value, degrees_of_freedom, expected_frequencies_array= st.chi2_contingency(actual_frequencies)

# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [325]:
chi2_statistic, p_value, degrees_of_freedom, expected_frequencies_array

(2676.642333711905,
 0.0,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

In [326]:
if p_value < 0.05:
    print("We reject the null Hypothesys. employee_group and status seem to be related.")

We reject the null Hypothesys. employee_group and status seem to be related.

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [327]:
# I convert my manually calcuated frequencies from a df to an array to compare to the ones created by the st.chi2_contingency() function
frequencies_array= frequencies.to_numpy()

In [328]:
is_equal_chi2 = frequencies_array == expected_frequencies_array
is_equal_chi2

array([[ True,  True],
       [ True,  True],
       [ True,  True],
       [ True,  True],
       [ True,  True]])

In [ ]:
# We can therefore confirm that my expected frequencies align with the ones obtained with the st.chi2_contingency() function